<div class="header_container">

    <header>
        <% if (user) { %>
            <h1>Welcome to Snippet Manager <%= user.username  %>! </h1>
        <% } else { %>
            <h1>Welcome to Snippet Manager!</h1>
        <% } %>

    </header>


</div>


<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/snippets">Snippets</a></li>
        <% if (!user) { %>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
        <% } else { %>
            <li><a href="/users/logout">Logout</a></li>
        <% } %>
    </ul>
</nav>

