
<div>
    <h1>Welcome to the Homepage</h1>
    <p>Content</p>
</div>

<% if (messages.success) { %>
    <div style="color: green;">
        <% messages.success.forEach(function(message) { %>
            <p><%= message %></p>
        <% }); %>
    </div>
<% } %>
