.snippets-table {
    width: 100%;
    border-collapse: collapse;
}

.snippets-table th, .snippets-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.snippets-table th {
    background-color: #f2f2f2;
}

.snippet-content {
    max-height: 100px; /* Adjust based on your preference */
    overflow-y: auto;
}

.create-button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.create-button a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

form {
    display: inline;
}

.actions-container {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    margin: 5px;
}


.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    margin: 5px;
}

.delete-btn:hover {
    background-color: #da190b;
}


.create-snippet-btn {
    display: inline-block;
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.create-snippet-btn:hover {
    background-color: #45a049;
}



/** create snippet form **/

.form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.snippet-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Adjust width as needed */
}

.snippet-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.snippet-form label {
    display: block;
    margin-bottom: 10px;
}

.snippet-form input[type="text"],
.snippet-form textarea {
    width: calc(100% - 20px); /* Adjust input width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.snippet-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.snippet-form button:hover {
    background-color: #45a049;
}


.snippet-form textarea {
    width: calc(100% - 20px); /* Adjust input width */
    height: 150px; /* Initial height, make it scrollable as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.cancel-link {
    display: inline-block;
    margin-top: 20px;
    background-color: #ccc;
    color: #333;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.cancel-link:hover {
    background-color: #bbb;
}

.no-snippets {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}
